.App {
  display     : flex;
  flex-flow   : column wrap; 
  align-content: center;
  justify-items: center;

  button {
    align-self: center;
    padding: 10px 10px;
    border: none;
    background-color: #059;
    color: #FFF;
    letter-spacing: .10em;
    text-transform: uppercase;
    margin: 15px 5px;
    border-radius: 3px;
    box-shadow: 0 2px 2px 2px #DDD;
    width: 200px;
    margin: 10px;
  }

  #container {
    &-radioGroup {
      display: column;
      max-width: 300px;
      .input-group {
        display: flex;
        justify-items: left;
        text-align: left;
      }
    }
  }

  #description {
    display: flex;
    padding: 30px;
    justify-self: center;
    justify-content: center;
    border: #DDD 1px solid;
    border-radius: 3px;
    flex-wrap: wrap;
  }
}
